* {
    margin: 0px;
}

body {
    background-image: url("images/WELCOME.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}